@import url('./nutrifacts_table.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
  font-family: "Raleway", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  background-color: #F4F4F4;
}

.container{
  max-width: unset;
}
ul.header{
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 4vw;
  line-height: 4vw;
  background-color: #38817A;;
}

ul.header li a {
  color: #dee2e6;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1vw;
  margin: 0 4vw;
}
ul.header li a:hover,
ul.header li a.active{
  color: #E4E797;
  font-size: 1.3rem;
  font-weight: 500;
}

ul li:first-child{
  height: 4vw;
  width: 7vw;
  background-image: url(/static/media/logo_rectangle.a9a182a3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: -2vw;
}

.content {
  position: absolute;
  top: 4vw;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #99f2c8, #38817A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #99f2c8, #38817A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/*  recipes cards css*/
.recipes_list {
  margin: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
  /* border-radius: 0.3vw;
  box-shadow: 0 0 0.5vw rgb(0 0 0 / 20%); */
 
}

.card{
  width: 30vw;
  height: 26vw;
  padding: 1vw;
  padding-bottom: 0;
  margin: 1vw;
  cursor: pointer;
  background: white;
  border-radius: 0.3vw;
  box-shadow: 0 0 0.5vw rgb(0 0 0 / 20%);
  transition: transform .2s ease-in-out;
}

.card img{
  width: 100%;
  height: 21vw;
  object-fit: cover;
  border-radius: 0.3vw;
}

.card-text{
  height: 4vw;
  line-height: 4vw;
  justify-content: space-between;
  align-items: flex-end;
}

.delete_recipe{
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  z-index: 2;
  background-color: white;
  border-radius: 1vw;
  opacity: 0.7;
}

.delete_recipe svg{
  width: 1.2vw;
  height: 1.2vw;
  display: block;
  margin: 0.4vw auto;
}

.card:hover,
.delete_recipe:hover{
  box-shadow: 0.2vw 0.4vw 0.5vw rgb(0 0 0 / 20%);
}

.card:hover{
  /* width: 23.1vw;
  height: 28.1vw; */
  transform: scale(1.05);
}

.delete_recipe:hover{
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 1.1vw;
  background-color: rgb(255, 51, 0);
  opacity: 0.9;
}

.delete_recipe:hover svg{
  width: 1.3vw;
  height: 1.3vw;
  display: block;
  margin: 0.45vw auto;
}

/* MODAL RULES */

@media (min-width: 576px){
  .modal-dialog {
    max-width: 85vw;
  }
}

.modal-header{
  padding: 0.5rem 1rem;
}

.modal-header .close{
  font-size: 2rem;
}

.modal-content {
  height: 50vw;
}

.details-box{
  position: absolute;
  top: 4%;
  left: 2%;
  width: 30%;
  height: 45%;
  padding-right: 1vw;
  padding-left: 1vw;
  padding: 0.5rem;
  overflow: auto;
  box-sizing: border-box;
  background-color: rgb(0 0 0 / 10%);
  border: rgb(0 0 0 / 20%) solid 0.2vw;
  box-shadow: inset 0.2vw 0.4vw 0.5vw rgb(0 0 0 / 20%);

}

.details-box.ingredients{
  left: 44%;
  top: unset;
  bottom: 4%;
}

.details-box.steps{
  width: 72%;
}

.ingredients-details,
.steps-details{
  white-space: pre-wrap;
}

.image-box{
  position: absolute;
  bottom: 4%;
  left: 2%;
  width: 40.6%;
  height: 45%;
}

.card_recipe_img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.nutrifacts-box{
  position: absolute;
  top: 4%;
  right: 2%;
  height: 92%;
}