html, body {
  background-color: #F4F4F4;
  /* padding: 20px; */
  margin: 0;
  width: 100%;
  /* height: 100%; */
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0 2vw 0 3vw;
  color: #FFF;
}
ul.header {
  background-color: #FFF;
  padding: 0;
  margin: 1vw 0;
}
ul.header li a {
  color: rgb(94, 78, 78);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  margin: 0 4vw;
}
.content {
  background-color: #F4F4F4;
  width: 100%;
  /* margin: 0 auto; */
  /* height: 80vh; */
  overflow: auto;

}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}

/*  recipes cards css*/
.recipes_list {
  /* padding: 1vw; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #F4F4F4;
}

.card_recipe {
  width: 30vw;
  /* margin-right: 10px;
  margin-bottom: 10px; */
  margin: 1vw;
  /* margin-left: 0; */
	height: 30vw;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
	position: relative;
  border-radius: 0.5em;
  border: 0.1em solid black;
}

.card_recipe_img{
  position: relative;
  width: 100%;
  height: 70%;
	background-size: cover !important;
	background-position: center;
  border-radius: 0.5em 0.5em 0 0;
}

.delete_recipe{
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  z-index: 2;
  background-color: white;
  border-radius: 1vw;
}

.delete_recipe svg{
  width: 1.2vw;
  height: 1.2vw;
  display: block;
  margin: 0.4vw auto;
}

.card_recipe_infos{
  width: 100%;
  height: 30%;
}

.card_description {
position: absolute;
bottom: 10px;
left: 10px;
}
.card_description h2 {
font-size: 20px;
}
/* .card_description p {
font-size: 14px;
opacity: 0.7;
font-weight: lighter;
} */
/* .card_link {
position: absolute;
top: 0;
bottom: 0;
right: 0;
width: 100%;
z-index: 2;
background: black;
opacity: 0;
border-radius: 0.5em;
} */
.card_recipe:hover,
.delete_recipe:hover,
ul.header li a:hover {
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw red;
}

.delete_recipe:hover{
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 1.1vw;
}

.delete_recipe:hover svg{
  width: 1.3vw;
  height: 1.3vw;
  display: block;
  margin: 0.45vw auto;
}

/* MODAL RULES */

@media (min-width: 576px){
  .modal-dialog {
    max-width: 80vw;
  }
}

.modal-content {
  height: 50vw;
}

.details-box{
  width: 30%;
  height: 25%;
  margin: 1% 2%;
  padding-right: 1vw;
  padding-left: 1vw;
  /* margin-left: 2%; */
  overflow-y: scroll;
  border: gray solid 0.2vw;
}

.image-box{
  position: absolute;
  top: 2%;
  right: 2%;
  width: 50%;
  height: 50%;
}